body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;  
}

.list-group {
  display: none;
}

.show {
  display: block;
}

.black-bg {
    display: inline-block;
    width : 100%;
    height : 100%;
    position : fixed;
    top:0;
    left: 0;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    visibility: hidden; 
    opacity: 0;
    transition: all 1s;
  }
  .modal-show {
    visibility: visible; 
    opacity: 1;
    position: absolute;
  }
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  } 

#open {
    margin: 30px;
  }


/* 애니메이션 주는 법

1. 시작스타일
2. 최종스타일
3. js코드짜기
4. transition */
